
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #130505;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #48566c;
  color: white;
  padding: 15px 40px;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar input {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
}

.search-bar button {
  background-color: white;
  color: #1f2021;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e8e8e8;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.card h3 {
  margin: 15px 0 10px;
}

.card p {
  font-size: 0.9rem;
  padding: 0 10px;
}

.card button {
  margin: 15px 0 20px;
  padding: 8px 16px;
  background-color: #414449;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #415472;
}


footer {
  text-align: center;
  background-color: #48556b;
  color: white;
  padding: 15px 0;
  margin-top: 30px;
}
#logoimg{
    height: 50%;
    width: 100px;
    background-color: #48556b;
}

@media (max-width: 992px) {
    #logoimg{
    /* height: 50%; */
    width: 5%;
      background-color: transparent;
}
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
    #logoimg{
    /* height: 10%; */
    width: 60px;
      background-color: transparent;
}
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
  }

  .search-bar {
    width: 100%;
  }

  .card-container {
    grid-template-columns: 1fr;
  }

  .card img {
    height: 180px;
  }
}
